$red : #ff0000;
$orange : #FFBB00;
$yellow: #FFE400;
$green: #1DDB16;
$skyblue: #00D8FF;
$blue: #0054FF;
$purple: #5F00FF;

// 자주 쓰일거 같은 것들
// mixin으로 선언한 것을 include로 사용
@mixin rect($size) {
    width: 32px;
    height: 32px * $size;
}

// .SassTest .box{
// } 와 동일
.SassTest {
    display: flex;
    margin-bottom: 20px;
    .box {
        cursor: pointer;
        transition: all 0.3s ease-in;
        // & 기호는 동등한 
        // .box .red 같이 씀
        &.red {
            background-color: $red;
            // height : 32px * 1
            @include rect(1);
        }
        &.orange {
            background-color: $orange;
            // height : 32px * 2
            @include rect(2);
        }
        &.yellow {
            background-color: $yellow;
            // height : 32px * 3
            @include rect(3);
        }
        &.green {
            background-color: $green;
            @include rect(4);
        }
        &.skyblue {
            background-color: $skyblue;
            @include rect(5);
        }
        &.blue {
            background-color: $blue;
            @include rect(6);
        }
        &.purple {
            background-color: $purple;
            @include rect(7);
        }
        &:hover {
            opacity: 0.3;
        }
    }
}